table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: rgb(107, 225, 255);
}

table tbody > tr {
    background-color: rgb(152, 255, 241);
}

tbody tr:nth-child(2n) {
    background-color: bisque;
}

table thead ~ tbody > tr {
    background-color: chartreuse;
}

table tbody > tr {
    background-color: cornflowerblue;
}

tbody tr:hover {
    background-color: hotpink;
}