table, th, td {
    border: 2px dotted green;
    border-collapse: collapse;
    text-align: center;
}

tbody tr {
    background-color: yellow;
}

tbody tr:nth-child(odd) {
    background-color: lightblue;
}

tbody tr:hover {
    color: red;
    font-weight: bold;
}