table, th, td {
    border: 1px dotted black;
    border-collapse: collapse;
}

tr td:nth-last-child(3) {
    background-color: lightskyblue;
    color: white;
}

tr td:last-child {
    background-color: blue;
    color: white;
}
/*
#gyakorlas p + button {
    background-color: darkcyan;
}
*/
#gyakorlas button:has(+p) {
    background-color: darkcyan;
}

#gyakorlas button:not(:has(+p)) {
    background-color: lightgreen;
}

#gyakorlas button + button:not(:has(+p)) {      /* Első elem is belekerül: #gyakorlas button:has(+ button):not(:has(+ p)) */
    background-color: yellow;
}

/* A 9. feladathoz már javascript is kellene :( */





#gyakorlas + a:hover{
    color: blueviolet;
}

#gyakorlas:has(+ a:hover) button{
    background-color: burlywood;
}

tr:not(:has(td[rowspan]))+ tr:not(:has(td[rowspan])):hover td{
    background-color: brown;

}

tbody tr:has(td[rowspan]):hover td{
    background-color: chartreuse;
}

tbody tr:has(td[rowspan]):hover + tr td{
    background-color: darkorange;
}
tbody tr:has(td[rowspan]):has(+tr:hover) td {
    background-color: brown
    ;
}
tr:not(:has(td[rowspan])):hover td{
    background-color: brown;
}