body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;                      /* FLEXBOX meghatározása */
    justify-content: center;            /* Vízszintes tengelyen való elrendezés */
}